#cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    

    padding: 20px;
    background-color: rgb(238, 157, 157);
}

#carrito{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    

    padding: 20px;
}



.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    border: 2px solid blue;

    padding: 10px;
    margin: 10px;
}


.btn-add{
    background-color: green;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.tituloCarrito{
    width: 100%;
    text-align: center;
    color: blue;
    text-decoration: underline;
}