.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    

    padding: 20px;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border: 2px solid blue;

    padding: 10px;
    margin: 10px;
}
